build
_skbuild
*-venv
.*cache
__pycache__
dist
wheelhouse
*.egg-info
.ipynb_checkpoints
.vscode/*
.vs
!.vscode/cmake-variants.yaml
!.vscode/launch.json
!.vscode/settings.json
.~lock.*
src/quala/_quala.pyd
src/quala/bin/*.dll

test/testresults/XPS-15-9560
python_build
MANIFEST
