graft cmake
graft src
graft test
graft examples
recursive-exclude src/quala.egg-info *
recursive-exclude src/quala/.mypy_cache *
recursive-exclude src/.mypy_cache *
global-exclude *.py[cod]
global-exclude *.ipynb_checkpoints/*
include pyproject.toml
include CMakeLists.txt
include setup.py
include README.md
include LICENSE